{% extends 'comm/_base.html' %}

{% block title %} 武大智慧家谱管理平台{% endblock %}

{% block headmore %} {% endblock %}

{% block main %}
<main class="container-fluid">
    <!-- page start-->
    <section class="panel">
        <header class="panel-heading">
            <span style="font-size:20px; color:#000;">关于我们</span>
            <span class="pull-right">
                <button type="button" id="loading-btn" class="btn btn-warning btn-xs"><i class="fa fa-globe"></i> <a
                        href="/index">返回首页</a></button>
            </span>
        </header>
    </section>
    <div class="row">
        <div class="col-md-3">
            <section class="panel">
                <header class="panel-heading">
                    项目简介
                </header>
                <div class="panel-body">
                    <a href="#"><img src="/static/img/team/totem_02.jpg" class="img-responsive center-block"
                            alt="" /></a>
                    <p>
                        珞珈图腾家谱数字化平台是武汉大学大数据研究院、武汉大学计算机学院、武汉大学历史学院联合研发。它是致力于中国传统家谱文化管理与研究的平台，专门用于管理和分析中国家谱。系统基于自主知识产权的Totem数据库，以高效、灵活的方式表示并存储中国家谱大数据。在其上，提供对探索家族祖先事迹、寻亲问祖、家族发展历程、家族事件分析等功能。该系统支持个人编修、制作家谱，同时还用于人文社科相关领域的研究。对于发扬优秀的中国传统家族文化有重要的作用。
                    </p>
                    <div class="alert alert-success fade in">
                        <strong>欢迎各位领导、专家和朋友们的光临和指导！</strong>
                    </div>
                    <h5 class="bold">联系方式</h5>
                    <ul class="list-unstyled p-files">
                        <li><a href=""><i class="fa fa-envelope"></i> 邮箱：rrli@whu.edu.cn</a></li>
                        <li><a href=""><i class="fa fa-file"></i> 联系人：李老师</a></li>
                    </ul>
                    <br />

                    <h5 class="bold">联系地址</h5>
                    <ul class="nav nav-pills nav-stacked labels-info ">
                        <li><i class=" fa fa-circle text-danger"></i> 湖北省武汉市武昌区八一路299号</p>
                        </li>
                    </ul>
                    <br />

                    <h5 class="bold">扫描关注</h5>
                    <a href="#"><img src="/static/img/team/ewm.png" class="img-responsive center-block"
                            style="width: 230px;" alt="" /></a>

                    <h5 class="bold">友情链接</h5>
                    <ul class="p-tag-list">
                        <li><a href="http://totemdb.whu.edu.cn/"><i class="fa fa-tag"></i> 珞珈图腾数据库实验室</a></li>
                        <li><a href="http://bdi.whu.edu.cn/news_show.aspx?id=937"><i class="fa fa-tag"></i>
                                武汉大学文化遗产智能计算实验室</a></li>
                        <li><a href="http://bdi.whu.edu.cn/"><i class="fa fa-tag"></i> 武汉大学大数据研究院</a></li>
                        <li><a href="http://cs.whu.edu.cn/"><i class="fa fa-tag"></i> 武汉大学计算机学院</a></li>
                        <li><a href="http://www.history.whu.edu.cn/"><i class="fa fa-tag"></i> 武汉大学历史学院</a></li>
                    </ul>

                    <div class="text-center mtop20">
                        <a href="#" class="btn btn-sm btn-primary">点赞支持</a>
                        <a href="#" class="btn btn-sm btn-warning">爱心捐助</a>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-9">
            <section class="panel">
                <div class="panel-body">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#" style="color:#000; background-color:#fff;">研发团队</a></li>
                        <li><a href="/achievement">项目成果</a></li>
                    </ul>
                    <div class="row directory-info-row">
                        <div class="col-md-6 col-sm-6">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="thumb media-object" src="/static/img/team/peng.jpg" alt="">
                                        </a>
                                        <div class="media-body">
                                            <h4>彭智勇教授 <span class="text-muted small"> - 首席科学家，项目负责人</span></h4>
                                            <ul class="social-links">
                                                <li><a title="" data-placement="top" data-toggle="tooltip"
                                                        class="tooltips" href="" data-original-title="WeChat"><i
                                                            class="fa fa-comments"></i></a></li>
                                                <li><a title="" data-placement="top" data-toggle="tooltip"
                                                        class="tooltips" href="" data-original-title="QQ"><i
                                                            class="fa fa-linux"></i></a></li>
                                                <li><a title="" data-placement="top" data-toggle="tooltip"
                                                        class="tooltips" href="" data-original-title="Weibo"><i
                                                            class="fa fa-weibo"></i></a></li>
                                                <li><a title="" data-placement="top" data-toggle="tooltip"
                                                        class="tooltips" href="" data-original-title="Email"><i
                                                            class="fa fa-envelope"></i></a></li>
                                            </ul>
                                            <address>
                                                <strong>武汉大学计算机学院</strong><br />
                                                家谱大数据理论指导<br />
                                                规划项目开发、研究总体方向<br />
                                                家谱项目的总负责人<br />
                                                <a title="主页"
                                                    href="http://cs.whu.edu.cn/teacherinfo.aspx?id=297">访问主页</a>
                                            </address>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="thumb media-object" src="/static/img/team/xb.jpg" alt="">
                                        </a>
                                        <div class="media-body">
                                            <h4>徐斌教授 <span class="text-muted small"> - 项目总策划</span></h4>
                                            <ul class="social-links">
                                                <li><a title="" data-placement="top" data-toggle="tooltip"
                                                        class="tooltips" href="" data-original-title="WeChat"><i
                                                            class="fa fa-comments"></i></a></li>
                                                <li><a title="" data-placement="top" data-toggle="tooltip"
                                                        class="tooltips" href="" data-original-title="QQ"><i
                                                            class="fa fa-linux"></i></a></li>
                                                <li><a title="" data-placement="top" data-toggle="tooltip"
                                                        class="tooltips" href="" data-original-title="Weibo"><i
                                                            class="fa fa-weibo"></i></a></li>
                                                <li><a title="" data-placement="top" data-toggle="tooltip"
                                                        class="tooltips" href="" data-original-title="Email"><i
                                                            class="fa fa-envelope"></i></a></li>
                                            </ul>
                                            <address>
                                                <strong>武汉大学历史学院</strong><br />
                                                家谱项目总体策划<br />
                                                家谱系统开发及研究的具体方向<br />
                                                领域知识理论指导<br />
                                                <a title="主页"
                                                    href="http://www.history.whu.edu.cn/info/1248/4319.htm">访问主页</a>
                                            </address>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row directory-info-row">
                        <div class="col-md-6 col-sm-6">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="thumb media-object" src="/static/img/team/pyy.jpg" alt="">
                                        </a>
                                        <div class="media-body">
                                            <h4>彭煜玮副教授 <span class="text-muted small"> - 项目总规划师</span></h4>
                                            <ul class="social-links">
                                                <li><a title="" data-placement="top" data-toggle="tooltip"
                                                        class="tooltips" href="" data-original-title="WeChat"><i
                                                            class="fa fa-comments"></i></a></li>
                                                <li><a title="" data-placement="top" data-toggle="tooltip"
                                                        class="tooltips" href="" data-original-title="QQ"><i
                                                            class="fa fa-linux"></i></a></li>
                                                <li><a title="" data-placement="top" data-toggle="tooltip"
                                                        class="tooltips" href="" data-original-title="Weibo"><i
                                                            class="fa fa-weibo"></i></a></li>
                                                <li><a title="" data-placement="top" data-toggle="tooltip"
                                                        class="tooltips" href="" data-original-title="Email"><i
                                                            class="fa fa-envelope"></i></a></li>
                                            </ul>
                                            <address>
                                                <strong>武汉大学计算机学院</strong><br />
                                                系统的总体规划与设计思路<br />
                                                大数据管理与分析的具体方向<br />
                                                总体技术指导<br />
                                                <a title="主页"
                                                    href="http://cs.whu.edu.cn/teacherinfo.aspx?id=292">访问主页</a>
                                            </address>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="thumb media-object" src="/static/img/team/lrr.jpg" alt="">
                                        </a>
                                        <div class="media-body">
                                            <h4>李蓉蓉老师 <span class="text-muted small"> - 项目总工程师</span></h4>
                                            <ul class="social-links">
                                                <li><a title="" data-placement="top" data-toggle="tooltip"
                                                        class="tooltips" href="" data-original-title="WeChat"><i
                                                            class="fa fa-comments"></i></a></li>
                                                <li><a title="" data-placement="top" data-toggle="tooltip"
                                                        class="tooltips" href="" data-original-title="QQ"><i
                                                            class="fa fa-linux"></i></a></li>
                                                <li><a title="" data-placement="top" data-toggle="tooltip"
                                                        class="tooltips" href="" data-original-title="Weibo"><i
                                                            class="fa fa-weibo"></i></a></li>
                                                <li><a title="" data-placement="top" data-toggle="tooltip"
                                                        class="tooltips" href="" data-original-title="Email"><i
                                                            class="fa fa-envelope"></i></a></li>
                                            </ul>
                                            <address>
                                                <strong>武汉大学计算机学院</strong><br />
                                                负责项目的具体开发的设计<br />
                                                负责数据采集和数据管理<br />
                                                具体的技术指导<br />
                                                <a title="主页"
                                                    href="http://cs.whu.edu.cn/teacherinfo.aspx?id=287">访问主页</a>
                                            </address>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row directory-info-row">
                        <div class="col-md-6 col-sm-6">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="thumb media-object" src="/static/img/team/harry.jpg" alt="">
                                        </a>
                                        <div class="media-body">
                                            <h4>Harry Johnson <span class="text-muted small"> - 学生，系统架构</span></h4>
                                            <ul class="social-links">
                                                <li><a title="" data-placement="top" data-toggle="tooltip"
                                                        class="tooltips" href="" data-original-title="WeChat"><i
                                                            class="fa fa-comments"></i></a></li>
                                                <li><a title="" data-placement="top" data-toggle="tooltip"
                                                        class="tooltips" href="" data-original-title="QQ"><i
                                                            class="fa fa-linux"></i></a></li>
                                                <li><a title="" data-placement="top" data-toggle="tooltip"
                                                        class="tooltips" href="" data-original-title="Weibo"><i
                                                            class="fa fa-weibo"></i></a></li>
                                                <li><a title="" data-placement="top" data-toggle="tooltip"
                                                        class="tooltips" href="" data-original-title="Email"><i
                                                            class="fa fa-envelope"></i></a></li>
                                            </ul>
                                            <address>
                                                <strong>武汉大学计算机学院</strong><br />
                                                项目的基础框架搭建<br />
                                                平台的总体架构设计<br />
                                                项目日常管理<br />
                                            </address>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="thumb media-object" src="/static/img/team/lhh.jpg" alt="">
                                        </a>
                                        <div class="media-body">
                                            <h4>刘洪浩 <span class="text-muted small"> - 学生，系统研发</span></h4>
                                            <ul class="social-links">
                                                <li><a title="" data-placement="top" data-toggle="tooltip"
                                                        class="tooltips" href="" data-original-title="WeChat"><i
                                                            class="fa fa-comments"></i></a></li>
                                                <li><a title="" data-placement="top" data-toggle="tooltip"
                                                        class="tooltips" href="" data-original-title="QQ"><i
                                                            class="fa fa-linux"></i></a></li>
                                                <li><a title="" data-placement="top" data-toggle="tooltip"
                                                        class="tooltips" href="" data-original-title="Weibo"><i
                                                            class="fa fa-weibo"></i></a></li>
                                                <li><a title="" data-placement="top" data-toggle="tooltip"
                                                        class="tooltips" href="" data-original-title="Email"><i
                                                            class="fa fa-envelope"></i></a></li>
                                            </ul>
                                            <address>
                                                <strong>武汉大学计算机学院</strong><br />
                                                系统的开发<br />
                                                平台的维护<br />
                                                技术支持<br />
                                            </address>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row directory-info-row">
                        <div class="col-md-6 col-sm-6">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="thumb media-object" src="/static/img/team/dkr.jpg" alt="">
                                        </a>
                                        <div class="media-body">
                                            <h4>段坤仁 <span class="text-muted small"> - 学生，系统研发</span></h4>
                                            <ul class="social-links">
                                                <li><a title="" data-placement="top" data-toggle="tooltip"
                                                        class="tooltips" href="" data-original-title="WeChat"><i
                                                            class="fa fa-comments"></i></a></li>
                                                <li><a title="" data-placement="top" data-toggle="tooltip"
                                                        class="tooltips" href="" data-original-title="QQ"><i
                                                            class="fa fa-linux"></i></a></li>
                                                <li><a title="" data-placement="top" data-toggle="tooltip"
                                                        class="tooltips" href="" data-original-title="Weibo"><i
                                                            class="fa fa-weibo"></i></a></li>
                                                <li><a title="" data-placement="top" data-toggle="tooltip"
                                                        class="tooltips" href="" data-original-title="Email"><i
                                                            class="fa fa-envelope"></i></a></li>
                                            </ul>
                                            <address>
                                                <strong>武汉大学计算机学院</strong><br />
                                                系统的开发<br />
                                                平台的维护<br />
                                                系统备份与管理<br />
                                            </address>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="thumb media-object" src="/static/img/team/hxy.jpg" alt="">
                                        </a>
                                        <div class="media-body">
                                            <h4>韩啸宇 <span class="text-muted small"> - 学生，数据处理与采集</span></h4>
                                            <ul class="social-links">
                                                <li><a title="" data-placement="top" data-toggle="tooltip"
                                                        class="tooltips" href="" data-original-title="WeChat"><i
                                                            class="fa fa-comments"></i></a></li>
                                                <li><a title="" data-placement="top" data-toggle="tooltip"
                                                        class="tooltips" href="" data-original-title="QQ"><i
                                                            class="fa fa-linux"></i></a></li>
                                                <li><a title="" data-placement="top" data-toggle="tooltip"
                                                        class="tooltips" href="" data-original-title="Weibo"><i
                                                            class="fa fa-weibo"></i></a></li>
                                                <li><a title="" data-placement="top" data-toggle="tooltip"
                                                        class="tooltips" href="" data-original-title="Email"><i
                                                            class="fa fa-envelope"></i></a></li>
                                            </ul>
                                            <address>
                                                <strong>武汉大学历史学院</strong><br />
                                                数据的处理与分析<br />
                                                数据采集<br />
                                                用户体验设计<br />
                                            </address>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row directory-info-row">
                        <div class="col-md-6 col-sm-6">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="thumb media-object" src="/static/img/team/dky.jpg" alt="">
                                        </a>
                                        <div class="media-body">
                                            <h4>邓凯允 <span class="text-muted small"> - 学生，数据处理与采集</span></h4>
                                            <ul class="social-links">
                                                <li><a title="" data-placement="top" data-toggle="tooltip"
                                                        class="tooltips" href="" data-original-title="WeChat"><i
                                                            class="fa fa-comments"></i></a></li>
                                                <li><a title="" data-placement="top" data-toggle="tooltip"
                                                        class="tooltips" href="" data-original-title="QQ"><i
                                                            class="fa fa-linux"></i></a></li>
                                                <li><a title="" data-placement="top" data-toggle="tooltip"
                                                        class="tooltips" href="" data-original-title="Weibo"><i
                                                            class="fa fa-weibo"></i></a></li>
                                                <li><a title="" data-placement="top" data-toggle="tooltip"
                                                        class="tooltips" href="" data-original-title="Email"><i
                                                            class="fa fa-envelope"></i></a></li>
                                            </ul>
                                            <address>
                                                <strong>武汉大学历史学院</strong><br />
                                                数据的处理与分析<br />
                                                文档数据处理<br />
                                                用户体验设计<br />
                                            </address>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- page end-->
</main>



{% endblock %}

{% block scriptmore %} {% endblock %}