{% extends 'comm/_base.html' %}
{% block title %} 武汉大学-智慧家谱 {% endblock %}

{% block main %}

<main>
  <div class="container-fluid get">
    <h1 class="get-title">探索家族发展奥秘&nbsp;&nbsp;&nbsp;&nbsp;寻找人类繁衍规律</h1>
    <div class="container" style="width: 450px; margin: 30px auto;">
      <form class="form-group input-group" role="form">
        <input type="text" class="form-control" />
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            搜索
          </button>
        </span>
      </form>
    </div>
    <p class="">
      <a href="#" class="btn btn-default">获取更多知识√</a>
    </p>
  </div>
  <div class="container">
    <div class="col-lg-12">
      <section class="panel">
        <div class="panel-body">
          <ul class="summary-list">
            <li>
              <a href="javascript:;">
                <i class=" fa fa-shopping-cart text-primary"></i>
                6000+ 家谱
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <i class="fa fa-envelope text-info"></i>
                150+ 姓氏
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <i class=" fa fa-picture-o text-muted"></i>
                3000万+ 人物
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <i class="fa fa-tags text-success"></i>
                552817 访问量
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <i class="fa fa-microphone text-danger"></i>
                3028 日访问量
              </a>
            </li>
          </ul>
        </div>
      </section>
    </div>
  </div>
  </div>
  <div class="container">
    <div class="col-md-6">
      <!--widget start-->
      <section class="panel">
        <header class="panel-heading">
          <ul class="nav nav-tabs nav-justified ">
            <li class="active">
              <a href="#popular" data-toggle="tab">
                本站公告
              </a>
            </li>
          </ul>
        </header>
        <div class="panel-body">
          <div class="tab-content tasi-tab">
            <div class="tab-pane active" id="popular">
              <article class="media">
                <a class="pull-left thumb p-thumb">
                  <img src="/static/img/product1.jpg">
                </a>
                <div class="media-body">
                  <a class=" p-head" href="#">家谱众包</a>
                  <p>本站向全社会收集家谱，特别是明清时期及更早的家谱古籍。</p>
                </div>
              </article>
              <article class="media">
                <a class="pull-left thumb p-thumb">
                  <img src="/static/img/product2.png">
                </a>
                <div class="media-body">
                  <a class=" p-head" href="#">网站功能测试</a>
                  <p>本站现在处于公测阶段，欢迎大家提供改进要求。</p>
                </div>
              </article>
              <article class="media">
                <a class="pull-left thumb p-thumb">
                  <img src="/static/img/product3.png">
                </a>
                <div class="media-body">
                  <a class=" p-head" href="#">家谱制作功能</a>
                  <p>网站向广大用户提供家谱制作，欢迎大家使用，现在正处于公测时期，家谱制作功能免费开放。</p>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="col-md-6">
      <!--widget start-->
      <section class="panel">
        <header class="panel-heading tab-bg-dark-navy-blue">
          <ul class="nav nav-tabs nav-justified ">
            <li>
              <a href="#">
                最新动态
              </a>
            </li>
          </ul>
        </header>
        <div class="panel-body">
          <div class="tab-content tasi-tab">
            <div class="tab-pane active" id="comments">
              <article class="media">
                <a class="pull-left thumb p-thumb">
                  <img src="/static/img/avatar-mini.jpg">
                </a>
                <div class="media-body">
                  <a class="cmt-head" href="#">武大智慧家谱上线了</a>
                  <p> <i class="fa fa-clock-o"></i>2022年10月7日，武汉大学智慧家谱第一版已经开发完成. 1 hours ago</p>
                </div>
              </article>
              <article class="media">
                <a class="pull-left thumb p-thumb">
                  <img src="/static/img/avatar-mini2.jpg">
                </a>
                <div class="media-body">
                  <a class="cmt-head" href="#">社会各界好评</a>
                  <p> <i class="fa fa-clock-o"></i>武汉大学智慧家谱平台收到社会各界的好评. 23 mins ago</p>
                </div>
              </article>
              <article class="media">
                <a class="pull-left thumb p-thumb">
                  <img src="/static/img/avatar-mini3.jpg">
                </a>
                <div class="media-body">
                  <a class="cmt-head" href="#">多位人士捐献家谱. </a>
                  <p> <i class="fa fa-clock-o"></i>近日，多位人士捐献了许多珍贵的家谱古籍。当前数字化工作已经完成。 15 mins ago</p>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="page-contents container">
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="intro text-center">
          <p><img src="/static/img/product1.jpg" class="img-rounded img-responsive center-block" alt="" /></p>
          <h3>修建家谱</h3>
          <p>您可以创建自己的家谱，也可以和亲人协同修建家谱。家谱制作完成后，可以生成电子谱书并下载</p>
          <p>
            <a href="/genealogy" class="btn btn-default">进入了解…</a>
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="intro text-center">
          <img src="/static/img/product2.png" class="img-rounded img-responsive center-block" alt="" />
          <h3>家谱探索</h3>
          <p>可以查询到公开的家谱内容，并探索家谱知识；结合视觉检索技术，从家谱古籍中检索兴趣点</p>
          <p>
            <a href="#" class="btn btn-default">进入了解…</a>
          </p>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="intro text-center">
          <img src="/static/img/product3.png" class="img-rounded img-responsive center-block" alt="" />
          <h3>家族研究</h3>
          <p>发现家族发展的客观规律，家谱知识图谱的构建，各类统计图及数据可视化信息。</p>
          <p>
            <a href="#" class="btn btn-default">进入了解…</a>
          </p>
        </div>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</main>

{% endblock %}