{% extends 'comm/_baseback.html' %}

{% block title %} 武大智慧家谱管理平台{% endblock %}

{% block headmore %} {% endblock %}

{% block crumb %}
<div class="row">
    <div class="col-lg-12">
        <!--breadcrumbs start -->
        <ul class="breadcrumb">
            <li><a href="/genealogy"><i class="fa fa-home"></i> 首页</a></li>
            <li><a href="/genealogy/list">家谱管理</a></li>
            <li class="active">生成家谱谱书</li>
        </ul>
        <!--breadcrumbs end -->
    </div>
</div>
{% endblock %}

{% block content %}
家谱生成纸质家谱
{% endblock %}

{% block scriptmore %} {% endblock %}