{% extends 'comm/_baseback.html' %}
{% block title %} 武大智慧家谱管理平台-家谱详情 {% endblock %}

{% block crumb %}
<div class="row">
    <div class="col-lg-12">
        <!--breadcrumbs start -->
        <ul class="breadcrumb">
            <li><a href="/genealogy"><i class="fa fa-home"></i> 首页</a></li>
            <li><a href="/genealogy/list">族谱管理</a></li>
            <li class="active">家谱详情</li>
        </ul>
        <!--breadcrumbs end -->
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-8">
        <section class="panel">
            <header class="panel-heading">
                <h3 class="text-primary">{{g.title}}</h3>
            </header>
            <div class="panel-body">
                <form class="form-horizontal" role="form" action="/genealogy/upd">
                    <div class="row summary-list">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="sername" class="col-sm-3 control-label">家族姓氏</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" style="background-color:white" name="sername" id="sername" value={{g.sername}}>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="hall_title" class="col-sm-3 control-label">堂号</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" style="background-color:white" name="hall_title" id="hall_title" value={{g.hall_title}}>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="county_title" class="col-sm-3 control-label">郡望号</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" style="background-color:white" name="county_title" id="county_title" value={{g.county_title}}>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="location" class="col-sm-3 control-label">位置</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" style="background-color:white" name="location" id="location" value={{g.location}}>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="contact" class="col-sm-3 control-label">联系人</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" style="background-color:white" name="contact" id="contact" value={{g.contact}}>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="contact_phone" class="col-sm-3 control-label">联系电话</label>
                                <div class="col-lg-8">
                                    <input type="text" class="form-control" style="background-color:white" name="contact_phone" id="contact_phone" value={{g.contact_phone}}>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="note" class="col-sm-3 control-label">备注</label>
                                <div class="col-lg-8">
                                    <textarea class="form-control" rows="5" name="note" id="note">{{g.note}}</textarea>
                                </div>
                            </div>
                        </div>
                    <div class="form-group">
                        <div class="col-lg-offset-6 col-lg-10">
                            <button type="submit" class="btn btn-primary">更新</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
    <div class="col-lg-4">
        <section class="panel">
            <header class="panel-heading">
                <h3 class="text-danger">注意事项</h3>
            </header>
            <div class="panel-body">
                <p>
                    *本系统严格控制每位用户的修谱权限，权限级别默认如下。您可以点击“权限设置”修改每个用户级别所具有的权限。<br />
                    家谱创建者<br />
                    拥有本家谱的所有权限<br />
                    核心修谱成员<br />
                    默认拥有查看、修改和审核所有数据的权限；默认可指定用户的权限级别<br />
                    家谱共建者<br />
                    指的是上传数据且数据通过核心修谱成员审核的用户，具有查看和修改自己所上传数据的权限<br />
                    普通家谱成员<br />
                    默认只具有查看家谱的权限<br />
                </p>
            </div>
        </section>
    </div>
</div>
{% endblock %}