<div class="panel-body">
    当前家谱共有人物：{{cnt}}人
    {%if can_operate == 1 or can_operate == 2 %}
    <a href="/genealogy/indi/add/{{gid}}" class="btn btn-default">添加人物</a>
    {%endif %}
</div>
<div class="row">
    <div class="btn-group col-md-6 text-left">
        <button type="button" class="btn btn-default">10</button>
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">10</a></li>
            <li><a href="#">20</a></li>
            <li><a href="#">30</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">全部</a></li>
        </ul>
    </div>
    <div class="input-group col-md-6">
        <form action="/genealogy/indi/search/{{gid}}">
            <div class="form-group col-md-10"><input type="text" id="name" name='name' class="form-control col-md-6"
                    placeholder="输入人名"></div>
            <span class="input-group-btn">
                <input class="btn btn-default" type="submit" value="搜索">
            </span>
            <form>
    </div>
</div>
<div class="adv-table col-lg-12 mt-3">
    <table class="display table table-bordered table-striped" id="dynamic-table">
        <thead>
            <tr>
                <th><input type="checkbox" /></th>
                <th>编号</th>
                <th>姓名</th>
                <th>字</th>
                <th>性别</th>
                <th>出生日期</th>
                <th>出生地</th>
                <th>父亲</th>
                <th>配偶</th>
                <th>世代数</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for i in person %}
            <tr>
                <td><input type="checkbox" /></td>
                <td>{{ i.id }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.zi }}</td>
                {%if i.gender == '0' %}
                <td>男</td>
                {%else %}
                <td>女</td>
                {%endif %}
                <td>{{ i.ad_birth|date:'Y-m-d H:m:s' }}</td>
                <!-- <td>{{i.ad_birth}}</td> -->
                <td>{{ i.birth_place }}</td>
                {%if i.farther != None %}
                <td>{{ i.farther }}</td>
                {%else %}
                <td></td>
                {%endif %}
                {%if i.spouse != None %}
                <td>{{ i.spouse }}</td>
                {%else %}
                <td></td>
                {%endif %}
                <td>{{ i.generetion }}</td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <a href="/genealogy/indi/dtl/{{i.id}}" class="btn btn-white">详情</a>
                        {%if can_operate == 1 or can_operate == 2 %}
                        <!-- <a href="/genealogy/indi/rel" class="btn btn-white">添加关系</a> -->
                        <div class="btn-group btn-group-sm">
                            <button class="btn btn-white" type="button">添加关系</button>
                            <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button"
                                aria-expanded="false"><span class="caret"></span></button>
                            <ul role="menu" class="dropdown-menu">
                                <li><a href="/genealogy/indi/add_parent/{{i.id}}">添加父母</a></li>
                                <li class="divider"></li>
                                <li><a href="/genealogy/indi/add_spouse/{{i.id}}">添加配偶</a></li>
                                <li class="divider"></li>
                                <li><a href="/genealogy/indi/add_child/{{i.id}}">添加子女</a></li>
                            </ul>
                        </div>
                        {%endif %}
                        {%if can_operate == 2 %}
                        <a href="/genealogy/indi/del/{{gid}}/{{i.id}}" class="btn btn-white">删除</a>
                        {%endif %}
                    </div>
                </td>
            </tr>
            {% endfor %}
    </table>
</div>
<div class="row">
    <div class="pagination">共 {{p_cnt}} 条数据</div>
    <nav aria-label="Page navigation" class="pull-right">
        {%if cnt == p_cnt %}
        <ul class="pagination">
            <!--上一页-->
            <li class="{% if not page.has_previous %}disabled{% endif %}">
                {% if page.has_previous %}
                <a href="/genealogy/dtl/{{gid}}?page={{ page.previous_page_number }}" aria-label="Previous">
                    {% endif %}
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li>
                <a href="/genealogy/dtl/{{gid}}?page=1">首页</a>
            </li>
            <!--页码-->
            <!--这里展示页码使用传递过来的dis_range -->
            {% for num in dis_range %}
            <li class="{% if num == page.number %}active{% else %}{% endif %}">
                <a href="/genealogy/dtl/{{gid}}?page={{ num }}">{{ num }}</a>
            </li>
            {% endfor %}
            <li>
                <a href="/genealogy/dtl/{{gid}}?page={{page.paginator.num_pages}}">尾页</a>
            </li>

            <!--下一页-->
            <li class="{% if not page.has_next %}disabled{% endif %}">
                {% if page.has_next %}
                <a href="/genealogy/dtl/{{gid}}?page={{ page.next_page_number }}" aria-label="Next">
                    {% endif %}
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
        {%else %}
        <ul class="pagination">
            <!--上一页-->
            <li class="{% if not page.has_previous %}disabled{% endif %}">
                {% if page.has_previous %}
                <a href="/genealogy/indi/search/{{gid}}?name={{name}}&page={{ page.previous_page_number }}" aria-label="Previous">
                    {% endif %}
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li>
                <a href="/genealogy/dtl/{{gid}}?page=1">首页</a>
            </li>

            <!--页码-->
            <!--这里展示页码使用传递过来的dis_range -->
            {% for num in dis_range %}
            <li class="{% if num == page.number %}active{% else %}{% endif %}">
                <a href="/genealogy/indi/search/{{gid}}?name={{name}}&page={{ num }}">{{ num }}</a>
            </li>
            {% endfor %}
            <li>
                <a href="/genealogy/dtl/{{gid}}?page={{page.paginator.num_pages}}">尾页</a>
            </li>

            <!--下一页-->
            <li class="{% if not page.has_next %}disabled{% endif %}">
                {% if page.has_next %}
                <a href="/genealogy/indi/search/{{gid}}?name={{name}}&page={{ page.next_page_number }}" aria-label="Next">
                    {% endif %}
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
        {%endif %}
    </nav>
</div>