<ul class="sidebar-menu" id="nav-accordion">
    <li>
        <a href="/genealogy">
            <i class="fa fa-dashboard"></i>
            <span>管理首页</span>
        </a>
    </li>

    <li class="sub-menu">
        <a href="/genealogy/list">
            <i class="fa fa-laptop"></i>
            <span>家谱管理</span>
        </a>
    </li>

    <li class="sub-menu">
        <a href="/vis">
            <i class="fa fa-book"></i>
            <span>家谱可视化</span>
        </a>
    </li>

    <li class="sub-menu">
        <a href="javascript:;">
            <i class="fa fa-cogs"></i>
            <span>个人管理</span>
        </a>
        <ul class="sub">
            <li><a href="/upadte_passwd">修改密码</a></li>
            <li><a href="/upadte_userinfo">更新资料</a></li>
        </ul>
    </li>
    <!-- <li class="sub-menu">
        <a href="javascript:;">
            <i class="fa fa-tasks"></i>
            <span>权限管理</span>
        </a>
        <ul class="sub">
            <li><a href="#">用户管理</a></li>
            <li><a href="#">权限管理</a></li>
        </ul>
    </li> -->

    <li>
        <a href="/logout">
            <i class="fa fa-user"></i>
            <span>退出用户</span>
        </a>
    </li>
</ul>