<ul class="sidebar-menu" id="nav-accordion">
    <input type="hidden" class="input-text" value="{{request.session.role}}"
    name="role" id="role">  
    <li>
        <a href="/genealogy">
            <i class="fa fa-dashboard"></i>
            <span>管理首页</span>
        </a>
    </li>

    <li class="sub-menu">
        <a href="/genealogy/list">
            <i class="fa fa-laptop"></i>
            <span>家谱管理</span>
        </a>
    </li>

    <li class="sub-menu">
        <a href="/vis">
            <i class="fa fa-book"></i>
            <span>家谱可视化</span>
        </a>
    </li>

    <li class="sub-menu">
        <a href="javascript:;">
            <i class="fa fa-cogs"></i>
            <span>个人管理</span>
        </a>
        <ul class="sub">
            <li><a href="/upadte_passwd">修改密码</a></li>
            <li><a href="/upadte_userinfo">更新资料</a></li>
        </ul>
    </li>
    <li id="usermanage" class="sub-menu">
        <a href="/user/list">
            <i class="fa fa-tasks"></i>
            <span>用户管理</span>
        </a>
        <!-- <ul class="sub">
            <li><a href="#">用户管理</a></li>
            <li><a href="#">权限管理</a></li>
        </ul> -->
    </li>

    <li>
        <a href="/logout">
            <i class="fa fa-user"></i>
            <span>退出用户</span>
        </a>
    </li>
</ul>
{% block scriptmore %}
    <script src="/static/js/respond.min.js"></script>

    <!--common script for all pages-->
    <script src="/static/js/common-scripts.js"></script>
    <script>
        window.onload = function(){
            //获取session值
            if ($.trim($("#role").val()) != "") 
            {
               var role_str = $.trim($("#role").val());
            }
            var is_admin=null;
            if(typeof(role_str) == "undefined"){
                is_login=false;
            }
            else{
                is_login=role_str.toLocaleLowerCase() == '管理员用户'
            }
           if(!is_login)
           { 
            document.getElementById("usermanage").style.display="None";
        }
        }
    </script>
{% endblock %}