<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<link rel="stylesheet" type="text/css" href="/static/luru/css/style.css">

<link rel="stylesheet" type="text/css" href="/static/luru/css/bootstrap.min.css">

<script src="/static/luru/js/jquery.min.js"></script>
<script src="/static/luru/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/luru/js/bootbox.min.js"></script>
<meta name='viewport' content='width=device-width, initial-scale=1'>
        <title>爱族谱</title>
        <!-- Styles -->
{# <link rel='stylesheet' type='text/css' href='{{ url_for('static/css/lib/calendar2',filename='pignose.calendar.min.css') }}'>#}

        <link href='/static/css/lib/calendar2/pignose.calendar.min.css' rel='stylesheet' type='text/css' />
        <link href='/static/css/lib/chartist/chartist.min.css' rel='stylesheet' type='text/css' />
        <link href='/static/css/lib/font-awesome.min.css' rel='stylesheet' type='text/css' />
        <link href='/static/css/lib/themify-icons.css' rel='stylesheet' type='text/css' />
        <link href='/static/css/lib/owl.carousel.min.css' rel='stylesheet' type='text/css' />
        <link href='/static/css/lib/owl.theme.default.min.css' rel='stylesheet' type='text/css' />
        <link href='/static/css/lib/weather-icons.css' rel='stylesheet' type='text/css' />
        <link href='/static/css/lib/menubar/sidebar.css' rel='stylesheet' type='text/css' />
        <link href='/static/css/lib/bootstrap.min.css' rel='stylesheet' type='text/css' />
        <link href='/static/css/lib/helper.css' rel='stylesheet' type='text/css' />
        <link href='/static/css/style.css' rel='stylesheet' type='text/css' />


    </head>

    <body>

                  <div class='sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures'>
            <div class='nano'>
                <div class='nano-content'>
                    <ul>
                        <div class='logo'><a href='#'><!-- <img src='assets/images/logo.png' alt='' /> --><span>LOGO</span></a></div>
                 <li class='label'>族谱一览</li>
                        <li><a class='sidebar-sub-toggle'><i class='ti-home'></i>公开族谱<span class='sidebar-collapse-icon ti-angle-down'></span></a>
                            <ul>
                                <ul>
                                    <li><a href='index'>族谱预览</a></li>
                                    <li><a href='#'>族谱可视化</a></li>

                                </ul>

                            </ul>
                        </li>

                        <li class='label'>族谱管理</li>
                        <li><a class='sidebar-sub-toggle'><i class='ti-bar-chart-alt'></i>我的族谱<span class='sidebar-collapse-icon ti-angle-down'></span></a>
                            <ul>
                                <ul>
                                    <li><a href='/genealogy'>族谱查看</a></li>
{#                                    <li><a href="{{ url_for('luru_person') }}">族谱修改</a></li>#}
									<li><a href='keshihua'>族谱可视化</a></li>
                                    <li><a href='delete_genealogy'>族谱删除</a></li>
                                    <li><a href='#'>其他</a></li>
                                </ul>

                            </ul>
                        </li>
                        <li><a class='sidebar-sub-toggle'><i class='ti-layout'></i>权限管理<span class='sidebar-collapse-icon ti-angle-down'></span></a>
                            <ul>
                                <ul>
                                    <li><a href='user_limit1'>权限申请</a></li>
                                    <li><a href='user_limit'>权限编辑</a></li>

                                </ul>

                            </ul>
                        </li>
                        <li><a href='profile'><i class='ti-user'></i> 个人信息</a>

                        </li>

                        <li class='label'>文档</li>
                        <li><a href='upload'><i class='ti-view-list-alt'></i> 文档上传</a></li>
						<li><a href='download'><i class='ti-view-list-alt'></i> 文档下载</a></li>
						<li><a href='#'><i class='ti-view-list-alt'></i> 文档修改</a></li>
                        <li class='label'>其他</li>
                        <li><a href='login_out'><i class='ti-close'></i>退出</a> </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- /# sidebar -->

            <div class='header'>
        <div class='container-fluid'>
            <div class='row'>
                <div class='col-lg-12'>
                    <div class='float-left'>
                        <div class='hamburger sidebar-toggle'>
                            <span class='line'></span>
                            <span class='line'></span>
                            <span class='line'></span>
                        </div>
                    </div>
                    <div class='float-right'>
                        <div class='dropdown dib'>
                            <div class='header-icon' data-toggle='dropdown'>
                                <i class='ti-bell'></i>
                                <div class='drop-down dropdown-menu dropdown-menu-right'>
                                    <!-- 提醒 -->
                                </div>
                            </div>
                        </div>
                        <div class='dropdown dib'>
                            <div class='header-icon' data-toggle='dropdown'>
                                <i class='ti-email'></i>
                                <div class='drop-down dropdown-menu dropdown-menu-right'>
                                    <!-- 消息 -->
                                </div>
                            </div>
                        </div>
                        <div class='dropdown dib'>
                            <div class='header-icon' data-toggle='dropdown'>
                                <a class='user-avatar'>
                                    用户
                                    <i class='ti-angle-down f-s-10'></i>
                                </a>
                                <div class='drop-down dropdown-profile dropdown-menu '>

                                    <div class=''>
                                        <ul>
                                            <li>
                                                <a href='profile' style="color: #0f0f10">
                                                    <i class='ti-user'></i>
                                                    个人信息
                                                </a>
                                            </li>

                                            <li>
                                                <a href='luru_genealogy' style="color: #0f0f10">
                                                    <i class='ti-email'></i>
                                                    家谱管理
                                                </a>
                                            </li>
                                            <li>
                                                <a href='user_limit1' style="color: #0f0f10">
                                                    <i class='ti-settings'></i>
                                                    申请
                                                </a>
                                            </li>
                                            <li>
                                                <a href='login_out' style="color: #0f0f10">
                                                    <i class='ti-power-off'></i>
                                                    退出
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


  <div class="content-wrap">
                            <form action="/person/add/{{gid}}" >
                            <div class="modal-body" >
                                <table id="xztb" class="table">
                                    <!--新修改弹窗的样式-->
                                    <tbody>
                                    <tr>
                                        <td class="tb_bg"><label for="">姓</label></td>
                                        <td><input name="surname" type="text" placeholder="姓"></td>
                                        <td class="tb_bg"><label for="">常用名</label></td>
                                        <td><input name="common_name" type="text" placeholder="常用名"></td>
                                    </tr>
                                    <tr>
                                        <td class="tb_bg"><label for="">配偶ID</label></td>
                                        <td><input name="spouse" type="int" placeholder="配偶ID  ({1，2})"></td>
                                        <td class="tb_bg"><label for="">性别</label></td>
                                        <td><input name="gender" type="bool" placeholder="性别（男0，女1）"></td>
                                    </tr>
    								<tr>
    								    <td class="tb_bg"><label for="">父亲ID</label></td>
    								    <td><input name="father_id"type="int" placeholder="父亲ID  ({1,2,3})"></td>
    								    <td class="tb_bg"><label for="">母亲ID</label></td>
    								    <td><input name="mother_id" type="int" placeholder="母亲ID  ({1,2,3})"></td>
    								</tr>
                                    <tr>
    								    <td class="tb_bg"><label for="">字</label></td>
    								    <td><input name="prefix_name"type="text" placeholder="字"></td>
    								    <td class="tb_bg"><label for="">号</label></td>
    								    <td><input name="title_name" type="int" placeholder="号"></td>
    								</tr>
                                    <tr>
    								    <td class="tb_bg"><label for="">行号</label></td>
    								    <td><input name="line_name"type="text" placeholder="行号"></td>
    								    <td class="tb_bg"><label for="">世代</label></td>
    								    <td><input name="generation" type="int" placeholder="世代"></td>
    								</tr>
                                    <tr>
    								    <td class="tb_bg"><label for="">排序</label></td>
    								    <td><input name="rank"type="char" placeholder="排序(0，1，2…老大，老二，老三…)"></td>
    								    <td class="tb_bg"><label for="">是否健在</label></td>
    								    <td><input name="alive_flag" type="bool" placeholder="是否健在(0，1；健在，逝世)"></td>
    								</tr>
                                    <tr>
    								    <td class="tb_bg"><label for="">出生地点</label></td>
    								    <td><input name="birth_place"type="text" placeholder="出生地点"></td>
    								    <td class="tb_bg"><label for="">死亡地点</label></td>
    								    <td><input name="death_place" type="text" placeholder="死亡地点"></td>
    								</tr>
                                    <tr>
                                        <td class="tb_bg"><label for="">出生时间</label></td>
                                        <td><input name="ce_birth" type="date" placeholder="出生时间(年号纪年)-备用"></td>
                                        <td class="tb_bg"><label for="">死亡时间</label></td>
                                        <td><input name="ce_death" type="date" placeholder="死亡时间(年号纪年)-备用"></td>
                                    </tr>
    								<tr>
    								    <td class="tb_bg"><label for="">个人简介</label></td>
    								    <td><input name="biography"type="text" placeholder="个人简介"></td>
    								    <td class="tb_bg"><label for="">墓志铭</label></td>
    								    <td><input name="epitaph" type="text" placeholder="墓志铭"></td>
    								</tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="modal-footer" style="margin-top: -20px">
                                <button type="button" class="btn btn-secondary"><a href='luru_genealogy'>取消</a></button>
                                <input type="submit" class="btn btn-secondary">
{#                                <a href="{{ url_for('luru_genealogy') }}">确定</a></input>#}

{#                                <a href="{{ url_for('luru_person') }}"><input type="submit" class="btn btn-secondary" value="确定"></a>#}
                            </div>
                          </form>



    <script src="/static/luru/js/mejs.js"></script>
        </div>


 <!-- jquery vendor -->
        <script type='text/javascript' src='/static/js/lib/jquery.min.js'></script>
        <script type='text/javascript' src='/static/js/lib/jquery.nanoscroller.min.js'></script>
        <!-- nano scroller -->
        <script type='text/javascript' src='/static/js/lib/menubar/sidebar.js'></script>
        <script type='text/javascript' src='/static/js/lib/preloader/pace.min.js'></script>
        <!-- sidebar -->

        <script type='text/javascript' src='/static/js/lib/bootstrap.min.js'></script>
        <script type='text/javascript' src='/static/js/scripts.js'></script>
        <!-- bootstrap -->

        <script type='text/javascript' src='/static/js/lib/calendar-2/moment.latest.min.js'></script>
        <script type='text/javascript' src='/static/js/lib/calendar-2/pignose.calendar.min.js'></script>
        <script type='text/javascript' src='/static/js/lib/calendar-2/pignose.init.js'></script>


        <script type='text/javascript' src='/static/js/lib/weather/jquery.simpleWeather.min.js'></script>
        <script type='text/javascript' src='/static/js/lib/weather/weather-init.js'></script>
        <script type='text/javascript' src='/static/js/lib/circle-progress/circle-progress.min.js'></script>
        <script type='text/javascript' src='/static/js/lib/circle-progress/circle-progress-init.js'></script>
        <script type='text/javascript' src='/static/js/lib/chartist/chartist.min.js'></script>
        <script type='text/javascript' src='/static/js/lib/sparklinechart/jquery.sparkline.min.js'></script>
        <script type='text/javascript' src='/static/js/lib/sparklinechart/sparkline.init.js'></script>
        <script type='text/javascript' src='/static/js/lib/owl-carousel/owl.carousel.min.js'></script>
        <script type='text/javascript' src='/static/js/lib/owl-carousel/owl.carousel-init.js'></script>
        <!-- scripit init-->
    <script type='text/javascript' src='/static/js/dashboard2.js'></script>

    </body>

</html>



    </body>

</html>
