{% extends 'comm/_baseback.html' %}
{% block title %} 武大智慧家谱管理平台-管理首页 {% endblock %}

{% block crumb %}
<div class="row">
    <div class="col-lg-12">
        <!--breadcrumbs start -->
        <ul class="breadcrumb">
            <li><a href="/genealogy"><i class="fa fa-home"></i> 首页</a></li>
            <li class="active">创建家谱使用说明</li>
        </ul>
        <!--breadcrumbs end -->
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <img style="width:80%;margin-left:10%;" src="/static/img/indi1.png">  
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <img style="width:80%;margin-left:10%;" src="/static/img/indi2.png">  
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <img style="width:80%;margin-left:10%;" src="/static/img/indi3.png">  
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <img style="width:80%;margin-left:10%;" src="/static/img/indi4.png">  
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <img style="width:80%;margin-left:10%;" src="/static/img/indi5.png">  
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <img style="width:80%;margin-left:10%;" src="/static/img/indi6.png">  
    </div>
</div>
{% endblock %}