{% extends 'comm/_baseback.html' %}
{% block title %} 武大智慧家谱管理平台-使用说明 {% endblock %}

{% block crumb %}
<div class="row">
    <div class="col-lg-12">
        <!--breadcrumbs start -->
        <ul class="breadcrumb">
            <li><a href="/genealogy"><i class="fa fa-home"></i> 首页</a></li>
            <li class="active">平台权限使用说明</li>
        </ul>
        <!--breadcrumbs end -->
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12 center-block">
        <img style="width:50%;margin-left:25%;" src="/static/img/permission.jpg">
    </div>
</div>
{% endblock %}